.container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightyellow;
  opacity: 80%;
  user-select: none;
  pointer-events: none;
}

.table {
  margin: 0;
  font-size: 11px;
  font-family: var(--font-family-mono);
}

.title {
  text-align: end;
}

.value {
  min-width: 25px;
  text-align: end;

}
