.container {
  box-sizing: border-box;
  width: 30%;
  height: 30%;
  border: 1px solid deepskyblue;
  background: lightyellow;

  display: grid;
  align-content: center;
  justify-content: center;

  font-size: 30px;
  font-weight: bold;

  will-change: transform;
  transform-origin: 0 0 0;

  position: absolute;
  user-select: none;
}
